@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Inter", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slide img {
  margin: 0 auto;
}

.slide {
  transform: scale(0.7);
  transition: transform 300ms;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.react-multiple-carousel__arrow--right {
  /* right: calc(0%) !important; */
  right: calc(4%) !important;
  background: black !important;
}

.react-multiple-carousel__arrow::before {
  color: white !important;
}

.react-multiple-carousel__arrow--left {
  /* left: calc(0%) !important; */
  left: calc(4%) !important;
  background: black !important;
}

.slider {
  margin: 0 20px;
  overflow: "hidden";
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}

.select-search-container {
  --select-search-background: #fff;
  --select-search-border: #dce0e8;
  --select-search-selected: #1e66f5;
  --select-search-text: #000;
  --select-search-subtle-text: #6c6f85;
  --select-search-inverted-text: var(--select-search-background);
  --select-search-highlight: #eff1f5;
  --select-search-font: 'Inter', sans-serif;
  width: 100% !important;
  position: relative;
  font-family: var(--select-search-font);
  color: var(--select-search-text);
  box-sizing: border-box;
}

.select-search-input {
  position: relative;
  z-index: 1;
  display: block;
  height: 48px;
  width: 100% !important;
  padding: 0 40px 0 16px;
  background: var(--select-search-background);
  border: 1px solid #E2E2E2 !important;
  color: var(--select-search-text);
  border-radius: 3px;
  outline: none;
  font-family: var(--select-search-font);
  font-size: 16px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 48px;
  letter-spacing: 0.01rem;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.select-search-input {
  position: relative;
  z-index: 1;
  display: block;
  height: 48px;
  width: 100%;
  padding: 0 40px 0 16px;
  background: #ffffff !important;
  border: 2px solid var(--select-search-border);
  color: var(--select-search-text);
  border-radius: 3px;
  outline: none;
  font-family: var(--select-search-font);
  font-size: 16px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 48px;
  letter-spacing: 0.01rem;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.select-search-container {
  --select-search-background: white !important;
  --select-search-border: #313244;
  --select-search-selected: #89b4fa;
  --select-search-text: black !important;
  --select-search-subtle-text: #a6adc8;
  --select-search-highlight: #1e1e2e;
}

.select-search-container .select-search-has-focus {
  background: white !important;
}

.select-search-option {
  background: white !important;
}

.css-j204z7-MuiFormControlLabel-root {
  color: black !important;
}

.select-search-select{
  height: 200px !important;
}